.profile-feed{
    width: auto;
    min-height: 300px;
    height: fit-content;
}

.message{
    width: fit-content;
    font-size: 30px;
}

.message__margin-center{
    margin: 50px auto;
}
