<div class="profile-feed">
    {{#unless pins}}
        <div class="message message__margin-center">
            Здесь ничего нет
        </div>
    {{else}}
        <div class="feed" id="profile_feed">

        </div>
    {{/unless}}
</div>
