<div class="profile-feed">
    {{#unless pins}}
        <div class="message-field">
            <div class="message">
                Здесь ничего нет
            </div>
            <div class="message__button" id="message__button">

            </div>
        </div>
    {{else}}
        <div class="feed" id="profile_feed">

        </div>
    {{/unless}}
</div>
