<div class="profile-feed" id="profile_feed">
    {{#unless pins}}
        <div class="message message__margin-center">
            Здесь ничего нет
        </div>
    {{else}}

    {{/unless}}
</div>
