<div class="chat-list-item" id="chat-list-item">
    <div class="avatar chat-list-avatar" id="chat-list-avatar">

    </div>
    <div class="chat-list-item-title description">
        {{chat.user.nickname}}
    </div>
</div>
