{{#each boards}}
    <div class="feed_item board__item window" id="board-{{this.board_id}}">
        <div class="board__title title">{{this.title}}</div>
        <div class="board__description description">{{this.description}}</div>
    </div>
{{/each}}
