<div class="avatar" id="list-item-avatar">

</div>
<div class="list-item-info-block">
    <div class="list-item-nickname">
        {{user.nickname}}
    </div>
    <div class="list-item-followers-count">
        {{user.followers_count}} подписчиков
    </div>
</div>
