<div class="star" id="star-id-{{ID}}">
    {{#if checked}}
        <img src="/static/star_fill.svg" alt="" class="star-image">
    {{else}}
        <img src="/static/star_unfill.svg" alt="" class="star-image">
    {{/if}}
</div>
