.profile-edit__window{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
}

@media screen and (max-width: 430px) {
    .profile-edit__window{
        width: 75vw;
    }
}
