<div>
    <div class="window user-form-window">
        <div class="window_title">Зарегистрируйтесь, чтобы продолжить!</div>
        <form action="" class="window_signup-fields">
            <div class="window_input-fields" id="signup-fields">

            </div>
            <div class="button-field">
                <button type="submit" class="button_full-width primary-button button button_medium" id="signup_enter_button">Регистрация</button>
                <div class="registration-login-field">Уже есть профиль? <span class="link-text" id="signup_login_button">Войти</span></div>
            </div>
        </form>
    </div>
</div>
