.hint{
  position: absolute;
  white-space: pre-line;
  border: 2px solid;
  background-color: var(--background-color);
  border-radius: var(--element-border-radius);
  left: 320px;
  padding: 10px;
  width: 250px;
  font-size: var(--simple-font-size);
  visibility: hidden;
}


/*TODO: Поменять этот блок на input-block*/
.input-item{
  position: relative;
  width: auto;
  flex-direction: column;
  display: flex;
  margin-top: 10px;
}
