<div class="profile-user-info__avatar" id="avatar">

</div>
<div class="profile-text">
    <div class="profile-text__nickname">
        {{userInfo.user.nickname}}
    </div>
    <div class="profile-text__followers">
        {{userInfo.followers_count}} подписчиков
    </div>
    {{#if userInfo.is_owner}}
        <div class="button edit-button profile-text-button_margin-top" id="profile-edit">
            Изменить профиль
        </div>
    {{else}}
        <div class="button subscribe-button profile-text-button_margin-top">
            Подписаться
        </div>
    {{/if}}
</div>
