.profile-info {
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 50px;
}

.profile-text{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
}

.profile-text__nickname{
    font-size: 40px;
}

.profile-text__followers{
    font-weight: bold;
    font-size: 15px;
}

.profile-text-button_margin-top{
    margin-top: auto;
}

.page_margin-top{
    margin-top: 10px;
}

.profile-user-info__avatar{
    width: 150px;
    height: 150px;
}
