.profile-info {
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 50px;
}

.profile-text{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
}

.profile-text__nickname{
    font-size: 40px;
}

.profile-text-button_margin-top{
    margin-top: auto;
}

.page_margin-top{
    margin-top: 10px;
}

.profile-user-info__avatar{
    width: 150px;
    height: 150px;
}

.profile-text__followers:hover {
    cursor: pointer;
}

.profile-counts{
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.profile-text__subscriptions:hover{
    cursor: pointer;
}

@media screen and (max-width: 430px) {
    .profile-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .profile-text{
        justify-content: center;
        align-items: center;
    }
}
