@use "../../../shared/styles/variables";

.board-item{
    border: variables.$window-color 1px solid;
    border-radius: variables.$element-border-radius;
    padding: 10px;
}

.board-item:hover{
    cursor: pointer;
}

.board-list-message{
    display: flex;
    justify-content: center;
}
