<main>
    <div class="window">
        <h3 class="window_title">Зарегистрируйтесь, чтобы продолжить!</h3>
        <form action="" class="window_signup-fields">
            <div class="window_input-fields">
                <div class="input-item">
                    <input type="text" class="input" id="register_nickname" placeholder="Имя пользователя">
                    <div class="input_error" id="signup_nickname_error"></div>
                    <div class="hint" id="nick_hint">Никнейм должен содержать:
                        – От 3 до 20 символов
                        – Только латинские буквы и цифры
                        – Разрешен символ '_'
                    </div>
                </div>
                <div class="input-item">
                    <input type="text" class="input" id="register_email" placeholder="Email">
                    <div class="input_error" id="signup_email_error"></div>
                </div>
                <div class="input-item">
                    <input type="password" class="input" id="register_password" placeholder="Пароль">
                    <div class="input_error" id="signup_password_error"></div>
                    <div class="hint" id="pass_hint">Требования к паролю:
                        – Длина от 8 до 24 символов
                        – Только латинские буквы
                        – Хотя бы одну заглавную букву
                        – Хотя бы одну цифру
                    </div>
                </div>
                <div class="input-item">
                    <input type="password" class="input" id="register_repeat_password" placeholder="Повторите пароль">
                    <div class="input_error" id="signup_repeat_password_error"></div>
                </div>
            </div>
            <div class="button-field">
                <button type="submit" class="primary-btn btn" id="signup_enter_button">Регистрация</button>
                <button type="button" class="secondary-btn btn" id="signup_login_button">Войти</button>
            </div>
        </form>
    </div>
</main>
