<main>
    <div class="window">
        <h3 class="window_title">Зарегистрируйтесь, чтобы продолжить!</h3>
        <form action="" class="window_login-fields">
            <div class="window_input-fields">
                <input type="text" class="text-input" placeholder="Имя пользователя">
                <input type="email" class="text-input" placeholder="Email">
                <input type="password" class="text-input" placeholder="Пароль">
                <input type="password" class="text-input" placeholder="Повторите пароль">
            </div>
            <div class="button-field">
                <button type="submit" class="primary-btn btn">Регистрация</button>
                <button type="button" class="secondary-btn btn">Войти</button>
            </div>
        </form>
    </div>
</main>