.feed{
    height: auto;
    width: auto;
    margin: 30px 50px;
    gap: 0;
    column-count: 5;
}

.feed_item{
    display: inline-block;
    margin: 10px 10px;
    border-radius: var(--element-border-radius);
    width: 250px;
}

.feed_item_error{
    background-color: var(--window-color);
}

.pin{
    margin: auto;
    border-radius: var(--element-border-radius);
    width: 100%;
}
