<form action="" class="input-fields">
    <div class="input-block">
        <label for="title-input">Заголовок</label>
        <input type="text" class="input" placeholder="{{pin.title}}" id="title-input">
    </div>
    <div class="input-block">
        <label for="description-input">Описание</label>
        <input type="text" class="input" placeholder="{{pin.description}}" id="description-input">
    </div>
</form>
