<div class="error">
    <div class="error_status">
        Упсс... кажется что-то не так
    </div>
    <div class="error_description">
        У нас произошла проблема, но мы ее чиним
    </div>
</div>
