.error{
    width: auto;
    height: auto;
    min-height: 600px;
    margin: 30px auto;
    background-color: var(--background-color);
    border-radius: var(--element-border-radius);
}

.error_status{
    margin: 0 20px;
    width: auto;
    font-size: 40px;
}

.error_description{
    margin: 20px 20px;
    width: auto;
    font-size: 20px;
}