<main>
    <div class="error">
        <div class="error_status">
            {{ this.status }}: {{ this.message }}
        </div>
        <div class="error_description">
            {{ this.description }}
        </div>
    </div>
</main>