.pin-like-section{
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

.like-section{
    width: 100%;
    height: 100%;
}

.pin-control__owner-actions{
    display: flex;
    gap: 10px;
}

.like-button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.like-button:hover{
    cursor: pointer;
}

@media screen and (max-width: 430px) {
    .pin-like-section{
        position: absolute;
        inset: auto 25px 25px auto;
    }

    .like-button{
        width: 10vw;
        height: 10vw;
    }
}
