<div class="user-list-item" id="user-{{user.user_id}}">
    <div class="avatar list-item-avatar" id="list-item-avatar">

    </div>
    <div class="list-item-nickname">
        {{user.nickname}}
    </div>
    <div class="list-item-followers-count">
        подписчиков {{user.subscribers_count}}
    </div>
</div>
