<div class="add-to-board__window">
    <div class="title">
        Добавить пин:
    </div>
    <div class="boards-list" id="boards-list">

    </div>
    <div class="add-to-board__controller">
        <div class="button secondary-button" id="pin-to-board-back">Отмена</div>
        <div class="add-to-board-error annotation" id="add-to-board-error"></div>
    </div>
</div>
