@use "../../../shared/styles/variables";

.add-to-board__window{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.boards-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-to-board-error{
    color: variables.$error-color;
    height: 20px;
}

.add-to-board__controller{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

@media screen and (max-width: 430px) {
    .add-to-board__window{
        width: 80vw;
        margin: 0;
        padding: 5vw;
    }
}
