<div class="modal-window">
    <div class="modal-list" id="modal-list">

    </div>
    <div class="modal-close" id="modal-close">
        <img src="/static/plus.svg" alt="" class="modal-close-image">
    </div>
</div>
