<div class="window stat-window">
    {{#each stat}}
        <div class="stat-item">
            <div class="stat-title">
                {{this.title}}
            </div>
            <div class="subinfo">
                <div class="stat-user stat-text__medium">
                    {{this.user_nickname}}
                </div>
                <div class="stat-rating stat-text__medium">
                    {{this.rating_count}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
