<div class="search-root">
    <div class="search-control-buttons">
        <div class="search-button-field">
            <div class="search-pin__button button primary-button" id="search-pin-button">Пины</div>
            <div class="search-board__button button secondary-button" id="search-board-button">Доски</div>
            <div class="search-users__button button secondary-button" id="search-users-button">Люди</div>
        </div>
    </div>
    <div class="search-feed" id="search-feed">

    </div>
</div>
