<main>
    <div class="window">
        <h3 class="window_title">Добро пожаловать в Pinterest!</h3>
        <form action="" class="window_login-fields">
            <div class="window_input-fields">
                <input type="email" class="text-input" placeholder="Email">
                <input type="password" class="text-input" placeholder="Пароль">
            </div>
            <div class="button-field">
                <button type="submit" class="primary-btn btn" id="login_enter_button">Войти</button>
                <button class="secondary-btn btn" id="login_signup_button">Регистрация</button>
            </div>
        </form>
    </div>
</main>