<div class="hover-photo-block">
    <div class="hover-photo-block__background">

    </div>
    <div class="button button-passive hover-photo-block__button button_small">
        Загрузить
    </div>
</div>
