@use "../../../shared/styles/variables";

.modal-window{
  padding: 25px 10px;
  width: fit-content;
  height: fit-content;
  min-height: 200px;
  position: relative;
  overflow: hidden;
}

.modal-close{
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  inset: 7px 7px auto auto;
}

.modal-close-image{
  width: 100%;
  height: 100%;
  rotate: 45deg;
}

.modal-close:hover{
  cursor: pointer;
}

.modal-list{
  max-height: 50dvh;
  overflow: scroll;
}
