<div class="search-feed-block">
    {{#unless items}}
        <div class="message message__margin-center">
            Здесь ничего нет
        </div>
    {{else}}
        {{#if isFeed}}
            <div class="feed" id="search-feed-content">

            </div>
        {{else}}
            <div class="list" id="search-list-content">

            </div>
        {{/if}}
    {{/unless}}
</div>

