.board-window{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.board-button__element{
    display: flex;
    justify-content: space-between;
}

.board-form{
    width: 700px;
}

