@import "../../components/widget/navbar/navbar.css";
@import "../../components/pages/feed/feed.css";
@import "../../components/pages/error/error.css";
@import "../../components/pages/login/login.css";
@import "../../components/pages/signup/signup.css";

@import "button/button.scss";
@import "input/input.css";
@import "window/window.css";
@import "text/text.css";

:root{
    --background-color: #F6F6F6;
    --primary-button-color: #FF8E6E;
    --secondary-button-color: #FFBB91;
    --window-color: #D5D5D5;
    --search-color: #777777;
    --select-color: #FFCCCC;
    --error-color: #ff4545;
    --success-color: #35a445;
    --font-color: #111111;
    --input-border-radius: 15px;
    --element-border-radius: 15px;
    --title-font-size: 25px;
    --focus-font-size: 18px;
    --simple-font-size: 15px;
    --pin-photo-border-radius: 15px 0 0 15px;
}

* {
    margin: 0;
    font-family: Roboto, serif;
    color: var(--font-color);
}

html, body{
    background-color: var(--background-color);
    height: 100%;
}

main{
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0;
}

.primary-btn{
    background-color: var(--primary-button-color);
}

.primary-btn:hover{
    background-color: color-mix(in srgb, var(--primary-button-color), var(--select-color));
}

.secondary-btn{
    background-color: var(--secondary-button-color);
}

.secondary-btn:hover{
    background-color: color-mix(in srgb, var(--secondary-button-color), var(--select-color));
}

.btn:hover {
    cursor: pointer;
}

.btn{
    padding: 10px 20px;
    border-radius: var(--element-border-radius);
    height: auto;
    border-width: 0;
    font-size: var(--focus-font-size);
}

.window_title{
    text-align: center;
    font-size: var(--title-font-size);
    margin: 20px 0;
}

.window_login-fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.window_input-fields{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.button-field{
    display: flex;
    flex-direction: column;
    vertical-align: bottom;

    .btn{
        margin-top: 15px;
    }
}

.input_error{
    margin: 5px 10px;
    color: var(--error-color);
    height: 20px;
}

