{{#each chats}}
    <div class="chat__item" id="chat-{{this.user.user_id}}">
        <div class="chat__item-avatar" id="chat__avatar-{{this.user.user_id}}">

        </div>
        <div class="chat__select-content description">
            {{this.user.nickname}}
        </div>
    </div>
{{/each}}
