{{#each chat}}
    <div class="chat-select" id="chat-{{this.id}}">
        <div class="chat-avatar">
            <img src="{{this.chat_url}}" alt="" class="chat-avatar-content">
        </div>
        <div class="chat-select-content">

        </div>
    </div>
{{/each}}
