@use "../../../shared/styles/variables";

.navbar{
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: variables.$background-color;
    align-items: center;
    z-index: 2;
}

.navbar_row{
    height: 50px;
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.navbar_left-block{
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo{
    height: 30px;
    max-width: 166.945px;
    width: auto;
    display: block;
    align-items: center;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.navbar_right-block{
    height: 100%;
    display: flex;
    gap: 13px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.search{
    width: calc(100px + 20vw);
    border-width: 0;
    border-radius: variables.$input-border-radius;
    height: 44px;
    padding: 0 35px 0 10px;
    font-size: variables.$focus-font-size;
    background-color: variables.$window-color;

    &::placeholder{
        color: variables.$search-color;
    }

    &:focus{
        border: variables.$search-color .5px solid;
        outline: none;
        background-color: color-mix(in srgb, variables.$window-color, variables.$background-color);
    }
}

.navbar_user_name{
    margin: auto;
    font-size: variables.$focus-font-size;
}

.search-input-field{
    position: relative;
}

.search__button{
    position: absolute;
    inset: 7px 3px auto auto;
    width: auto;
    height: 30px;
}

.search__button:hover{
    cursor: pointer;
}

.logo-image{
    width: 100%;
    height: 100%;
}

.navbar-logo-picture{
    display: block;
    width: 100%;
    height: 100%;
}

.navbar-popup{
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition: background-color .3s;
    padding: 5px;
    border-radius: variables.$input-border-radius;
    z-index: 2;
}

.navbar-popup:hover{
    cursor: pointer;
}

.navbar-popup-button__avatar{
    width: 34px;
    height: 34px;
}

.navbar-popup__icon{
    width: 34px;
    height: 34px;
    color: variables.$font-color;
    transform: rotate(180deg);
    transition: all .3s;
    user-select: none;
}

.navbar-popup__icon_closed{
    transform: unset;
}

.navbar-popup-menu{
    z-index: 1;
    position: absolute;
    inset: 60px 10px auto auto;
    width: 150px;
    height: fit-content;
    border-radius: variables.$input-border-radius;
    overflow: hidden;
    transition: all .3s;
    opacity: 1;
}

.navbar-popup-menu_closed{
    transform: translateY(-7px);
    opacity: 0;
    pointer-events: none;
}

.popup-menu__item{
    height: fit-content;
    padding: 10px;
    text-align: end;
}

.popup-menu__item:hover{
    cursor: pointer;
}

.popup-menu__danger-item{
    border-top: variables.$font-color 1px solid;
    color: variables.$error-color;
}

.popup-menu__danger-text{
    color: variables.$error-color;
}

.navbar-icon{
    border-radius: 50%;
    padding: 8px;
    width: 28px;
    height: 28px;
    display: block;
}

.navbar-chat-button__icon{
    width: 100%;
    height: 100%;
    display: block;
}

.navbar-notification-button__icon{
    width: 100%;
    height: 100%;
    display: block;
}

.phone_visibility{
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

.phone_visibility-false{
    visibility: visible;
    position: unset;
    opacity: 1;
}

.navbar-notification-block{
    position: relative;
}

.navbar-notification-popup{
    position: absolute;
    inset: 47px 0 auto auto;
    width: 300px;
    height: 300px;
    background-color: variables.$background-color;
    border: variables.$border-color 1px solid;
    border-radius: variables.$element-border-radius;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px variables.$window-color;
    overflow-y: hidden;
    transition: all .3s;
    padding: 7px;
    gap: 10px;
}

.navbar-notification__list{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.navbar-notification__list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.navbar-notification__list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.notification-title-disable{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.navbar-notification-control-menu{
    width: calc(100% - 20px);
    height: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 540px) {
    .navbar_right-block{
        position: fixed;
        width: 100%;
        height: 50px;
        inset: auto 0 0 0;
        background-color: variables.$background-color;
        gap: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
        z-index: 2;
    }

    .navbar-popup{
        visibility: hidden;
        position: absolute;
        opacity: 0;
    }

    .navbar-popup-menu {
        position: unset;
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: fit-content;
        inset: auto auto auto auto;
    }

    .navbar-popup-menu_closed{
        pointer-events: unset;
        transform: unset;
        opacity: 1;
    }

    .popup-menu__item{
        border-radius: 50%;
        height: fit-content;
        display: block;
        width: fit-content;
        padding: inherit;
    }

    .phone_visibility{
        visibility: visible;
        position: unset;
        opacity: 1;
    }

    .phone_visibility-false{
        visibility: hidden;
        position: absolute;
        opacity: 0;
    }

    .popup-menu__danger-item{
        border-top: unset;
    }

    .search-input-field{
        width: calc(100vw - 90px);
    }

    .search{
        width: calc(100% - 45px);
    }

    .navbar_left-block{
        width: 100%;
    }
}

@media screen and (max-width: 1023px){
    .logo{
        height: 50px;
        width: 50px;
    }
}
