<div class="form">
    <div class="avatar-change">
        <div class="profile-edit__avatar" id="avatar">

        </div>
        <label class="button button-passive">
            Загрузить
            <input type="file" class="input_display_none" id="profile-photo-input">
        </label>
    </div>
    <div class="input-fields">
        <div class="input-block">
            <label for="input-email">Email</label>
            <input id="input-email" type="email" class="input" value="{{user.email}}">
        </div>
        <div class="input-block">
            <label for="input-nickname">Никнейм</label>
            <input type="text" class="input" id="input-nickname" value="{{user.nickname}}">
        </div>
        <div class="input-block">
            <label for="input-password">Пароль</label>
            <input type="password" class="input" id="input-password">
        </div>
        <div class="input-block">
            <label for="input-repeat-password">Повторите пароль</label>
            <input type="password" class="input" id="input-repeat-password">
        </div>
    </div>
</div>
<div class="profile-edit-window__button-field">
    <div class="button button-passive" id="profile-edit-back">
        Отмена
    </div>
    <div class="button button-active button_focus-font-size" id="profile-edit-save">
        Сохранить
    </div>
</div>
