<div class="form">
    <div class="avatar-change">
        <div class="profile-edit__avatar" id="avatar">

        </div>
        <div class="button button-passive">
            Загрузить
        </div>
    </div>
    <div class="input-fields">
        <div class="input-block">
            <label for="input-email">Email</label>
            <input id="input-email" type="email" class="input" placeholder="{{user.email}}">
        </div>
        <div class="input-block">
            <label for="input-nickname">Никнейм</label>
            <input type="text" class="input" id="input-nickname" placeholder="{{user.nickname}}">
        </div>
        <div class="input-block">
            <label for="input-password">Пароль</label>
            <input type="password" class="input" id="input-password" placeholder="">
        </div>
        <div class="input-block">
            <label for="input-repeat-password">Повторите пароль</label>
            <input type="password" class="input" id="input-repeat-password">
        </div>
    </div>
</div>
<div class="profile-edit-window__button-field">
    <div class="button button-passive">
        Отмена
    </div>
    <div class="button button-active button_focus-font-size">
        Сохранить
    </div>
</div>
