@use "../../../shared/styles/variables";

.feed_item{
    margin-bottom: 20px;
    border-radius: variables.$element-border-radius;
    width: 250px;
}

.feed_item_error{
    background-color: variables.$window-color;
}

.pin{
    margin: auto;
    border-radius: variables.$element-border-radius;
    width: 100%;
}

.feed-control-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.feed-button-field{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
