{{#if user}}
    <div class="feed-control-buttons">
        <div class="feed-button-field">
            <div class="feed-home__button button primary-button" id="feed-home-button">Подборка</div>
            <div class="feed-subs__button button secondary-button" id="feed-subs-button">Подписки</div>
        </div>
    </div>
{{/if}}
<div class="feed-block" id="feed-block">

</div>
