<div class="modal-window">
    <iframe src="http://localhost/csatRating.html" id="modal-window" class="iframe-window">

    </iframe>
    <div class="error-window__cancel" id="modal-cancel">
        <img src="/static/plus.svg" alt="" class="cancel-icon">
    </div>
</div>
