<div class="modal-window">
    <iframe src="https://harmoniums.ru/csatRating.html" id="modal-window" class="modal-window window__bottom-right">

    </iframe>
    <div class="error-window__cancel" id="modal-cancel">
        <img src="/static/plus.svg" alt="" class="cancel-icon">
    </div>
</div>
