<div class="chat-window window">
    <div class="chat-list window-on-top" id="chat-list">
        <div class="chat-list-control-menu">
            <div class="chat-list-add secondary-button" id="chat-list-add-button">
                <img src="/static/plus.svg" alt="" class="chat-list-add__icon">
            </div>
        </div>

    </div>
    <div class="chat-window__input window-on-bottom" id="chat-window">

    </div>
</div>
