.board{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.board-desc{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.board-control-block{
    display: flex;
    gap: 10px;
}
