<div class="board">
    <div class="board-desc">
        <div class="title board-text__title">
            {{board.title}}
        </div>
        <div class="description board-text__description">
            {{board.description}}
        </div>
        <div class="board-control-block">
            {{#if board.is_owner}}
                <div class="secondary-button button button_small" id="board-edit-button">
                    Изменить
                </div>
                <div class="secondary-button button button_small" id="board-delete-button">
                    Удалить
                </div>
            {{else}}
<!--                <div class="primary-button button button_small">-->
<!--                    Подписаться-->
<!--                </div>-->
            {{/if}}
        </div>
    </div>
    <div class="board-pins" id="board-pins-feed">

    </div>
</div>
