.avatar_border-radius{
    border-radius: 50%;
}

.avatar_object_fit{
    object-fit: cover;
}

.avatar{
    display: block;
}

.avatar_size{
    width: 100%;
    height: 100%;
    user-select: none;
}

.avatar_display-block{
    display: block;
}
