.input-fields{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.input-block{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
}

.input{
    width: auto;
    border-radius: var(--element-border-radius);
    padding: 0 15px;
    height: 45px;
    font-size: var(--focus-font-size);
    border: 2px solid;
    background-color: var(--background-color);

    &::placeholder{
        color: var(--search-color);
        font-size: var(--focus-font-size);
    }

    &:focus{
        background-color: #ffffff;
        outline-color: var(--primary-button-color);
    }
}

.input-description{
    height: 120px;
    padding: 10px 15px;
}

.input_display_none{
    display: none;
}

.input-readonly{
    background-color: var(--window-color);
    opacity: 0.5;
    &:focus{
        background-color: var(--window-color);
        outline-color: inherit;
    }
}
