@use "variables";

@import "button/button";
@import "input/input";
@import "window/window";
@import "text/text";

* {
    margin: 0;
    font-family: Roboto, serif;
    color: variables.$font-color;
}

html, body{
    background-color: variables.$background-color;
    height: 100%;
}

@media screen and (max-width: 430px) {

}
@media screen and (max-width: 1023px) {

}

main{
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0 0 30px 0;
}

.window_title{
    text-align: center;
    font-size: variables.$title-font-size;
    margin: 20px 0;
}

.window_login-fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.window_input-fields{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.button-field{
    display: flex;
    flex-direction: column;
    vertical-align: bottom;
    gap: 10px;
}

.input_error{
    margin: 5px 10px;
    color: variables.$error-color;
    height: 20px;
}

.dialog-window{
    position: relative;
    border: variables.$border-color .5px solid;
    border-radius: variables.$element-border-radius;
    margin: auto;
    outline: none;
}

.dialog-window::backdrop {
    background-color: variables.$font-color;
    opacity: .5;
}
