@use "variables";

@import "button/button";
@import "input/input";
@import "window/window";
@import "text/text";
@import "icon/icon";

* {
    margin: 0;
    font-family: Roboto, serif;
    color: variables.$font-color;
}

html, body{
    background-color: variables.$background-color;
    height: 100%;
}

main{
    margin: 0;
    width: 100%;
    height: auto;
    padding: 30px 0 30px 0;
}

body.modal-open{
    overflow-y: hidden;
}

.window_title{
    text-align: center;
    font-size: variables.$title-font-size;
}

.window_login-fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.button-field{
    display: flex;
    flex-direction: column;
    vertical-align: bottom;
    gap: 20px;
}

.user-form-window{
    width: 300px;
    height: fit-content;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dialog-window{
    position: fixed;
    border: variables.$border-color .5px solid;
    border-radius: variables.$element-border-radius;
    margin: auto;
    outline: none;
}

.dialog-window::backdrop {
    background-color: variables.$font-color;
    opacity: .5;
}

.link-text{
    color: variables.$font-link-color;
}

.link-text:hover{
    cursor: pointer;
    color: variables.$font-link-selected-color;
    text-decoration: underline;
}

.text-center{
    margin: auto;
}
