$background-color: #F6F6F6;
$primary-button-color: #FF8E6E;
//$secondary-button-color: #FFBB91;
$secondary-button-color: #e3deda;
$window-color: #D5D5D5;
$search-color: #777777;
$select-color: #EECCCC;
$select-secondary-color: #cdcdcd;
$error-color: #ff4545;
$success-color: #35a445;
$font-color: #111111;
$input-border-radius: 15px;
$element-border-radius: 15px;
$title-font-size: 25px;
$focus-font-size: 18px;
$simple-font-size: 15px;
$large-button-size: 20px;
$medium-button-size: 18px;
$small-button-size: 15px;
$pin-photo-border-radius: 15px 0 0 15px;
