@use "../../../shared/styles/variables";

.feed_item{
  margin-bottom: 20px;
  border-radius: variables.$element-border-radius;
  width: 250px;
}

.feed_item_error{
  background-color: variables.$window-color;
}

.pin{
  margin: auto;
  border-radius: variables.$element-border-radius;
  width: 100%;
}

.feed-control-buttons{
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.feed-button-field{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.feed{
  align-items: center;
  align-content: center;
  height: auto;
  width: auto;
  margin: 30px 0;
  columns: 250px;
}


@media screen and (max-width: 430px) {

  $width: calc(10px + 35vw);

  .feed_item{
    width: 150px;
  }

  .feed {
    columns: 150px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 431px) {
  $width: calc(20px + 25vw);

  .feed_item{
    width: 200px;
  }

  .feed {
    columns: 200px;
  }
}
