<div class="profile page_margin-top">
    <div class="profile-info" id="user-info">

    </div>
    <div class="profile-switcher" id="content-switch">
        <div class="switch-bundle">
            <div class="switch-button__active button">
                Созданные
            </div>
            <div class="switch-button__passive button">
                Доски
            </div>
        </div>
        <div class="add-block">
            <div class="button button_secondary-color">
                Добавить пин
            </div>
            <div class="button button_secondary-color">
                Добавить доску
            </div>
            <div class="button-add">
                <img src="/static/plus.svg" alt="">
            </div>
        </div>
    </div>
    <div class="profile__content" id="content">

    </div>
</div>
