<div class="profile page_margin-top">
    <div class="profile-info" id="user-info">

    </div>
    <div class="profile-switcher" id="content-switch">
        <div class="switch-bundle">
            <div class="primary-button button_focus-font-size button" id="profile-content-pins">
                Созданные
            </div>
            <div class="secondary-button button" id="profile-content-boards">
                Доски
            </div>
        </div>
        {{#if user.is_owner}}
            <div class="add-block">
                <div class="profile-pop-menu profile-pop-menu__closed" id="profile-pop-menu">
                    <div class="button secondary-button profile-add-button" id="profile-pin-add">
                        Добавить пин
                    </div>
                    <div class="button secondary-button profile-add-button" id="profile-board-add">
                        Добавить доску
                    </div>
                </div>
                <div class="button-add button-add__closed button-icon" id="profile-pop-menu__button">
                    <img class="profile-image__full-size" src="/static/plus.svg" alt="">
                </div>
            </div>
        {{/if}}
    </div>
    <div class="profile__content" id="content">

    </div>
</div>
