.pin-window{
    padding: 0;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.pin-photo{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.pin-description{
    padding: 25px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .pin-window {
        flex-direction: column;
        margin-bottom: 40px;
        position: relative;
        z-index: 0;
    }

    .pin-description{
        gap: 40px;
        width: calc(100% - 50px);
    }

    .pin-photo{
        display: flex;
        flex-direction: column;
    }
}
