.pin-window{
    padding: 0;
    display: flex;
    width: 80vw;
    max-width: 1000px;
    height: fit-content;
    min-height: 600px;
    max-height: 800px;
}

.pin-photo{
    width: 400px;
    height: fit-content;
    position: relative;
}

.pin-description{
    width: calc(80vw - 400px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    .pin-window {
        width: 80vw;
        max-width: 400px;
        flex-direction: column;
        margin-bottom: 40px;
        position: relative;
        z-index: 0;
        max-height: unset;
    }

    .pin-description{
        gap: 40px;
        width: 100%;
    }

    .pin-photo{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
