<div class="chat-info">
    <div class="chat-selected-avatar">
        <img src="{{chat_url}}" alt="" class="chat-avatar-content">
    </div>
</div>
<div class="chat-content">

</div>
<div class="chat-input">

</div>
