@use "../../../shared/styles/variables";

.chat-info{
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 5px 20px;
  align-items: center;
  gap: 10px;
  border-bottom: variables.$border-color 1px solid;
}

.chat__selected-avatar{
  display: block;
  height: 60px;
  width: 60px;
}

.chat-content{
  font-size: 24px;
  align-content: center;
}

.chat-input{
  display: grid;
  grid-template-columns: 1fr 40px;
  padding: 10px 20px;
  align-items: center;
  gap: 5px;
}

.chat__enter-button{
  width: 40px;
  height: 40px;
}

.chat__input-field{
  border-radius: variables.$input-border-radius;
  padding: 10px;
  font-size: 16px;
  border: variables.$border-color 1px solid;
  resize: none;
  background-color: variables.$background-color;
}

.chat__enter-image{
  width: 100%;
  height: 100%;
}

.chat__enter-button:hover{
  cursor: pointer;
}

.chat__enter-image{

}

.chat-content{
  display: flex;
  flex-direction: column-reverse;
}
