<div class="chat-info">
    <div class="chat__selected-avatar" id="chat__selected-avatar">

    </div>
    <div class="chat-content">
        {{user.user_nickname}}
    </div>
</div>
<div class="chat-input">
    <div class="chat__input-field">

    </div>
    <div class="chat__enter-button">

    </div>
</div>
