<div class="pin__block-top" id="pin-block-top">

</div>
<div class="pin__block-center" id="pin-block-center">
    <span class="description pin-comment-title">Комментарии</span>
    <div class="pin-block-comments" id="pin-block-comments"></div>
</div>
<div class="pin__block-bottom" id="pin-block-bottom">

</div>
