<div class="pin__block-top" id="pin-block-top">

</div>
<span class="description pin-comment-title">Комментарии</span>
<div class="pin__block-center" id="pin-block-center">

</div>
<div class="pin__block-bottom" id="pin-block-bottom">

</div>
