.pin-hover{
    /*position: absolute;*/
    /*inset: 5px 5px auto auto;*/
    width: 100%;
    height: 100%;
}

.pin-hover_background{
    background-color: var(--window-color);
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.pin-list{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 5px;*/
}
