<div class="input-item" id="signup-nickname">

</div>
<div class="input-item" id="signup-email">

</div>
<div class="input-item" id="signup-password">

</div>
<div class="input-item" id="signup-rep-password">

</div>
