<header class="navbar">
    <div class="navbar_row">
        <div class="navbar_left-block">
            <div class="logo">
                <span class="">Pinterest</span>
            </div>
            <input type="text" placeholder="Search" class="search">
        </div>
        <div class="navbar_right-block">
            <button class="primary-btn btn">Log In</button>
            <button class="secondary-btn btn">Sign Up</button>
        </div>
    </div>
</header>