<div class="comment-avatar" id="comment-avatar">

</div>
<div class="comment-nickname annotation">
    {{comment.user.nickname}}
</div>
<div class="comment-content annotation">
    {{comment.value}}
</div>
