<div>
{{#if pin.is_owner}}
    <div class="button button-passive">
        Изменить
    </div>
{{/if}}
</div>
<div class="pin-like-section">
    <div class="pin-likes-count description">
        {{pin.likes_count}}
    </div>
    <img src="/static/like.svg" alt="" class="like-section">
</div>
