@use "../../../shared/styles/variables";

.hint{
  position: absolute;
  border: 2px solid;
  background-color: variables.$background-color;
  border-radius: variables.$element-border-radius;
  inset: 10% auto auto calc(100% + 35px);
  padding: 10px;
  width: 250px;
  font-size: variables.$simple-font-size;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.hint-item{
  width: 100%;
  height: fit-content;
  text-align: left;
  vertical-align: middle;
}
