<div class="board-feed">
    {{#unless pins}}
        <div class="message message__margin-center">
            Здесь ничего нет
        </div>
    {{else}}
        <div class="feed" id="board_feed">

        </div>
    {{/unless}}
</div>
