<div class="board__item window" id="board-{{board.board_id}}">
    <div class="board__title title">{{board.title}}</div>
    <div class="board__description description">{{board.description}}</div>
</div>
