.board__item{
    padding: 20px;
    align-items: start;
    justify-content: center;
    width: 210px;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
}

.board__item:hover{
    cursor: pointer;
}

.board__title{
    overflow: hidden;
    line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.board__description{
    overflow: hidden;
    line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
