<div class="error-window">
    <div class="description">
        {{message}}
    </div>
    <div class="error-window__cancel" id="error-cancel">
        <img src="/static/plus.svg" alt="" class="cancel-icon">
    </div>
</div>
