<div class="error-window">
    <div class="description error-window__text">{{message}}</div>
    <div class="error-window__cancel" id="error-cancel">
        <img src="/static/plus.svg" alt="" class="cancel-icon">
    </div>
</div>
