@use "../variables";

.button{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    //border: 2px solid $primary-button-color;
    border-radius: variables.$input-border-radius;
    border: none;
}

.button:hover{
    cursor: pointer;
}

.primary-button{
    background-color: variables.$primary-button-color;
}

.primary-button:hover{
    cursor: pointer;
    background-color: color-mix(in srgb, variables.$primary-button-color, variables.$select-color);
}

.secondary-button{
    background-color: variables.$secondary-button-color;
}

.secondary-button:hover{
    background-color: color-mix(in srgb, variables.$secondary-button-color, variables.$select-secondary-color);
}

.button_small{
    font-size: variables.$small-button-size;
}

.button_medium{
    font-size: variables.$medium-button-size;
}

.button_big{
    font-size: variables.$large-button-size;
}

.button_full-width{
    width: 100%;
}

.button-icon:hover{
    cursor: pointer;
    background-color: variables.$secondary-button-color;
}

@media screen and (max-width: 430px) {
    .button{
        padding: 1vh 3vw;
    }
}
