<div class="button secondary-button button_medium pin-update-back" id="form-control-back">
    Отменить
</div>
<div class="button primary-button button_medium pin-update-forward" id="pin-form-save">
    Сохранить
</div>
