.pin-window{
    padding: 0;
    display: flex;
    width: fit-content;
}

.pin-description{
    padding: 25px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
